@import "tailwindcss";
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #f0f4ff 0%, #e6ecfa 100%);
  
}

.MuiDialog-paper  {
  width: 100%  !important;
  max-width: 1000px !important;
}

/* .MuiDialog-container{
  max-width: 1000px !important;
} */
.MuiDialog-root{
  margin: 0 auto !important;
}
.ck-editor__editable_inline {
  min-height: 250px;
}



@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-progress {
  animation-name: progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
