@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #f0f4ff 0%, #e6ecfa 100%);
  
}

.MuiDialog-paper  {
  width: 100%  !important;
  max-width: 1000px !important;
}

/* .MuiDialog-container{
  max-width: 1000px !important;
} */
.MuiDialog-root{
  margin: 0 auto !important;
}
.ck-editor__editable_inline {
  min-height: 250px;
}



@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(34,211,238,0.7), 0 0 0 8px rgba(34,211,238,0.2);
  }
  50% {
    box-shadow: 0 0 0 8px rgba(34,211,238,0.4), 0 0 0 16px rgba(34,211,238,0.1);
  }
}
.glow-animate {
  animation: glow 2s infinite;
}
.animate-progress {
  animation-name: progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@media (max-width: 768px) {
  .admin-table {
    font-size: 14px;
    overflow-x: auto;
  }
  .admin-modal {
    width: 95vw;
    padding: 8px;
  }
  .pagination {
    flex-direction: column;
    gap: 8px;
  }
  .btn-add{
  margin-top: 10px;
  }
  .container-header{
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* flex-direction: row-reverse; */
  }
}


@media (max-width: 768px) {
  .admin-table {
    font-size: 14px;
    overflow-x: auto;
  }
  .admin-modal {
    width: 95vw;
    padding: 8px;
  }
  .pagination {
    flex-direction: column;
    gap: 8px;
  }
  .btn-add{
  margin-top: 10px;
  }
  .container-header{
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* flex-direction: row-reverse; */
  }
}
.nav-link-mobile.active {
  background: #1976d2;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 12px 0 rgba(25,118,210,0.18);
}

.nav-link-mobile {
  position: relative;
  color: black;
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 18px;
  border-radius: 6px;
  transition: background 0.25s, color 0.25s, box-shadow 0.25s;
}
.nav-link-moblie:hover {
  background: rgba(255,255,255,0.18);
  color: #1d1c19;
  box-shadow: 0 2px 12px 0 rgba(25,118,210,0.12);
}